<script>
export default {
  props: ['row', 'col', 'color', 'state'],
  methods: {
    shoot() {
      let action = this.state ? 'clear' : 'mine';
      
      fetch(`http://mbot.funworks.fr:1337/api/${action}/${this.col}/${this.row}`)
        .then(() => alert(`terrain ${this.state?'déminé':'miné'} !`));
    }
  }
}
</script>



<template>
  <button :class="color" @click="shoot"></button>
</template>



<style scoped>
button {
  width: 100px;
  height: 80px;
  border: 1px #DDD solid;
}
.mine {
  background: rgba(0,0,0,0) url(../assets/bomb.png) no-repeat center center;
}
.shark {
  background: rgba(0,0,0,0) url(../assets/fishSwim2.png) no-repeat center center;
}
.aqua {
  background-color:rgba(0,0,0,0);
}
</style>