<script>

/*
  Dans ce plateau de jeu, nous chargerons des boutons
  (pleins), et un sélecteur de joueur (un seul).
*/
import Button from './Button.vue';
import Player from './Player.vue';

export default {
  components: {
    Button,
    Player
  },


  /*
    Au démarrage du jeu, toutes les cellules sont vides.
    Plus tard, quand les données seront récupérées, ces 
    valeurs changeront, mais au moins en attendant, elles 
    sont déclarées.
    La variable player enregistre si le joueur est un 
    mineur (0), ou un démineur (1).
  */
  data() {
    return {
      colors: [
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 },
        { 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0 }
      ],
      player: 0,
    }
  },


  /*
    Toutes les 3 secondes, le plateau est mis à jour 
    avec les données fraîches de la base de données.
    (on prévoiera les sockets avec la version 2 !)
  */
  created() {
    let cols = this.colors; // closure

    setInterval(async function () {
      let resp = await fetch(`http://mbot.funworks.fr:1337/api/games`);
      if (!resp.ok) return;
      let json = await resp.json();

      json.data.forEach((row, n) => {
        cols[n] = row.attributes;
      });
    }, 3000);
  },


  /*
    Une fonction qui renvoie le mot 'aqua', 'mine' ou 'shark'
    en fonction de l'état de la cellule demandée (on appelle
    la fonction avec des valeurs 'ligne' et 'colonne').
    Techniquement, la fonction se réfère au tableau 'colors' 
    de la ligne 27.
  */
  methods: {
    getColor(row, col) {
      switch (this.colors[row - 1][col]) {
        case 2: return 'shark'; break;
        case 1: return 'mine'; break;
        default: return 'aqua';
      }
    },
    changePlayer(p){
      this.player=p;
    }
  }
}
</script>



<template>
  <div>

    <table>

      <tr>
        <th> </th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
      </tr>

      <tr v-for="i in [1, 2, 3, 4, 5, 6, 7]">
        <th>{{ i }}</th>

        <td v-for="j in ['A', 'B', 'C', 'D', 'E', 'F', 'G']">

          <Button :col="j" :row="i" :color="getColor(i, j)" :state="player"></Button>

        </td>
      </tr>

    </table>

    <Player :state="player" @change-player="changePlayer"></Player>
  </div>
</template>



<style scoped>
table {
  background: url(../assets/iceWaterDeep.png) repeat;
}
</style>