<script>
import Toggle from '@vueform/toggle';

export default {
  components: {
    Toggle
  },
  props:['state'],
  data() {
    return {
      player: this.state
    }
  },
  watch:{
    player(newPlayer){
      this.$emit('change-player',newPlayer?0:1);
    }
  }
}
</script>


<template>
  <div>
    <img src="../assets/p1_front.png" alt="player">
    <Toggle v-model="player" />
    <img src="../assets/mouse.png" alt="player">
  </div>
</template>


<style src="@vueform/toggle/themes/default.css">

</style>